@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

body{
    background: #F1FAFF;
}
header {
    height: 700px;
    width: 100%;
    position: relative;
    background: #001361;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, rgba(2, 13, 168, 0.698), rgba(0, 32, 214, 0.705));
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, rgba(0, 4, 224, 0.808), rgba(0, 22, 219, 0.884));
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.container__cards{
    max-width: 1200px;
    margin: auto;
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card{
    width: 300px;
    margin: 10px;
    transition: all 300ms;
}

.card:hover{
    width: 350px;
}

.card .cover{
    width: 100%;
    height: 250px;
    position: relative;
    overflow: hidden;
}

.card .cover img{
    width: 250px;
    display: block;
    margin: auto;
    position: relative;
    top: 40px;
    z-index: 1;
    filter: drop-shadow(5px 5px 4px rgba(0,0,0,0.5));
    transition: all 400ms;
}

.card:hover .cover img{
    top: 0px;
    filter: none;
}

.card .img__back{
    width: 100%;
    height: 200px;
    position: absolute;
    bottom: -80px;
    left: 0;
    background-size: cover;
    border-radius: 20px;
    transition: all 300ms;
}

.card:nth-of-type(1) .img__back{
    background-image: url(../images/bg2.jpg);
}

.card:nth-of-type(2) .img__back{
    background-image: url(../images/bg1.jpg);
}
.card:nth-of-type(3) .img__back{
    background-image: url(../images/bg2.jpg);
}

.card:nth-of-type(4) .img__back{
    background-image: url(../images/bg2.jpg);
}

.card:nth-of-type(5) .img__back{
    background-image: url(../images/bg1.jpg);
}

.card:nth-of-type(6) .img__back{
    background-image: url(../images/bg2.jpg);
}

.card:nth-of-type(7) .img__back{
    background-image: url(../images/bg1.jpg);
}
.card:nth-of-type(8) .img__back{
    background-image: url(../images/bg1.jpg);
}
.card:hover .img__back{
    bottom: -40px;
}

.card .description{
    background: white;
    margin-top: -10px;
    padding: 20px;
    border-radius: 0px 0px 20px 20px;
    transition: all 300ms;
}

.card:hover .description{
    padding: 40px;
}

.card .description h2{
    margin-top: 10px;
}

.card .description p{
    margin-top: 10px;
}

.card .description input{
    padding: 10px 40px;
    margin-top: 20px;
    border: none;
    background: #A6359D;
    color: white;
    font-size: 14px;
    cursor: pointer;
    border-radius: 8px;
    transition: all 300ms;
}

.card .description input:hover{
    background: #83277b;
}
.menu-header{
    cursor: pointer;
    position: fixed;
    top: 20px;
    right: 20px;
    background: #fff;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.6);
    transform: scale(1);
    transition: transform .2s;
    z-index: 20;
    animation: escalar .5s 3 alternate;
}

.menu-header{
    cursor: pointer;
    position: fixed;
    top: 20px;
    right: 20px;
    background: #fff;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.6);
    transform: scale(1);
    transition: transform .2s;
    z-index: 20;
    animation: escalar .5s 3 alternate;
}

.enlaces-header{
    position: fixed;
    top:0;
    width: 100%;
    height: 100%;
    display: flex;
    background: #001361;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #0004ff, #0400ff);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #012cd6, #001361); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    z-index: 10;
    left: 0;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    clip-path: circle(0% at 100% 0%);
    transition: clip-path 0.6s;
}

.extra-clase{
    clip-path: circle(150% at 100% 100%)
}

.enlaces-header a{
    text-decoration: none;
    color:#fff;
}

.enlaces-header a:hover{
    text-decoration: underline;
}

.menu-header:active{
    transform: scale(0.9);
}

@keyframes escalar{
    0%{
        transform: scale(0.1);
    }
}
